@{
	ViewData["Title"] = "About Us";
}
<div class="about_introduction">
	<div class="about_title">
		<h1> Who Are We? </h1>
	</div>
	<div class="about_text">
		<p>
			Welcome to QuickBite! We are passionate about bringing delicious food straight to your doorstep.
			Our mission is simple: provide high-quality meals quickly, efficiently, and with a smile.<br><br>
			At QuickBite, we believe that great food starts with great ingredients.
			Every dish is prepared with care and attention to detail, ensuring a memorable experience for every customer.<br><br>
			Our team is made up of dedicated professionals who love what they do.
			From our chefs to our delivery staff, everyone shares the same goal: making your day better through amazing food.<br><br>
			Whether you're ordering your favorite meal for lunch, dinner, or a late-night snack,QuickBite is here to satisfy your cravings and make ordering easy and fun.
		</p>
	</div>
</div>
